<a href="https://colab.research.google.com/github/uwayodev/php-for-beginners/blob/main/Live_Python_Full_Course_Nov_2024_Assignment_1_Practice_operations_Uwayo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Question 1**: A store sells apples at 5USD each and bananas at 3USD each.
Declare variables apples_price and bananas_price with appropriate values.
Calculate the total cost for purchasing 10 apples and 7 bananas and store the result in total_cost.

In [2]:
apples_price = 5
bananas_price = 3
total_cost = apples_price * 10 + bananas_price * 7
#Calculate the total cost and save it in the total_cost variable
print(f"the total cost for purchasing 10 apples and 7 bananas is {total_cost}")

the total cost for purchasing 10 apples and 7 bananas is 71

**Question 2:** You have a monthly salary of USD4,000  and expenses that include rent (USD1,200), groceries (USD300), and miscellaneous (USD500). Calculate the amount left after expenses and store it in a variable named remaining_balance.

In [5]:
salary = 4000
rent = 1200
groceries =300
miscellaneous = 500
total_expenses = rent + groceries + miscellaneous
remaining_balance = salary - total_expenses
#display the remaining balance
print(f"The amount left after expenses is {remaining_balance}")

The amount left after expenses is 2000

**Question 3:** A team won 28 matches this season, and last season they won 18 matches. Declare variables current_season_wins and last_season_wins with respective values. Calculate the increase in matches won and store it in win_difference.

In [6]:
current_season_wins = 28
last_season_wins = 18
#Calculate the increase in matches won
win_difference = current_season_wins - last_season_wins
#Display the increase in matches won
print(f"the increase in matches won is {win_difference}")

the increase in matches won is 10

**Question 4:** A travel company charges USD250 per person for a weekend trip and gives a USD100 group discount for every 5 people. If a group has 15 people Calculate the total cost for the group and store it in group_trip_cost.

In [10]:
group_discount_per_5_people = 100
cost_per_person = 250
group_size = 15
total_discount = group_discount_per_5_people * group_size/5
group_trip_cost = cost_per_person * group_size - total_discount
# Print the result
print("Total cost for the group:", group_trip_cost)

Total cost for the group: 3450.0

**Question 5:** An item costs $120, and there is a discount of 15%. Calculate the final price after the discount and store it in discounted_price.

In [19]:
item_cost = 120
discount_percentage = 15

discounted_price = item_cost - (item_cost * discount_percentage/100)

# Print the result
print("Final price after discount:", discounted_price)

Final price after discount: 102.0

Question 6: A company produces 500 units daily and sells each unit for $20. Declare variables units_per_day and price_per_unit. Calculate the monthly revenue assuming a 30-day month and store it in monthly_revenue.

In [22]:
units_per_day = 500
price_per_unit = 20
days_per_month = 30
monthly_revenue = units_per_day * price_per_unit * days_per_month
#Display the monthly revenue
print("the monthly revenue is ",monthly_revenue,"USD")

the monthly revenue is  300000 USD

**Question 7:** A farmer grows wheat on a 150-acre farm and yields 3,000 kg per acre. Declare variables acreage and yield_per_acre. Calculate the total wheat production and store it in total_production.

In [24]:
acreage = 150
yield_per_acre = 3000
total_production = acreage * yield_per_acre
# Print the result
print("Total wheat production:", total_production, "kg")

Total wheat production: 450000 kg

**Question 8:** A bakery makes $2 profit on each loaf of bread sold. If they sell 200 loaves in a day, declare variables profit_per_loaf and loaves_sold. Calculate the daily profit and store it in daily_profit.

In [26]:
profit_per_loaf = 2
loaves_sold_per_day = 200
daily_profit = profit_per_loaf * loaves_sold_per_day

# Print the result
print("Daily profit:", daily_profit)

Daily profit: 400

**Question 9:** You are planning an event for 120 attendees. The venue rental is USD800, and catering costs USD25 per person. Declare variables venue_cost, catering_cost_per_person, and number_of_attendees. Calculate the total cost of the event and store it in event_total_cost.

In [28]:
number_of_attendees = 120
catering_cost_per_person = 25
venue_cost = 800

event_total_cost = venue_cost + catering_cost_per_person * number_of_attendees

#Display the total cost of the event
print("the total cost of the event :",event_total_cost,"$")

the total cost of the event : 3800 $

**Question 10:** A school's annual fee per student is $1,500, and they provide a 5% sibling discount. Declare variables annual_fee and sibling_discount_percent. Calculate the discounted fee for one sibling and store it in sibling_discounted_fee.

In [32]:
# Define variables
annual_fee = 1500
sibling_discount_percent = 5

# Calculate discount amount
discount_amount = (sibling_discount_percent / 100) * annual_fee

# Calculate discounted fee for one sibling
sibling_discounted_fee = annual_fee - discount_amount

# Print the result
print("Discounted fee for one sibling:", sibling_discounted_fee)

Discounted fee for one sibling: 1425.0